@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
	width: 90%;
	max-width: 1536px;
	margin-inline: auto;
	position: relative;
	margin-top: 5rem;
	overflow: hidden;
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
}

* {
	scroll-behavior: smooth;
}